
.containerHeader{
    background-color:brown;
    width: 100%;
    height: 5.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    padding: 5px;
    height: 30px;
}

.Title{
    color:black;
    margin-top: -2px;
    margin-bottom: -5px;
   
}
.navContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  
}
.navButton{
    background-color: black;
    color: white;
    width: 28%;
    padding: 5px;
    font-size: 15px;
}